@media (max-width: 500px) {
  .quoteButton button {
    
    display: block;
    float: right;
    
  }
}



body {
			background-color: white;
			
		}

		.links {
			/*border: white 1px dotted;*/
		}

		.links button {

			top: 0;
			


			/*height: 32px;
			width: 55px;*/


		}

		.links img {
			/*height: 20px;*/
		}

		.quoteButton button {
			float: right;
			margin-right: 15px;
			padding-bottom: 5px;
      margin-bottom: 10px;
			height: 32px;

		}

		button {

/* 			margin-bottom: 10px; */
		}

		button:hover{
			color: #651fff;
			cursor: pointer;
		}

		.background {
			/*margin-top: 50px;*/
			/*padding: 50px;*/
			background-image: url("https://pi.tedcdn.com/r/pe.tedcdn.com/images/ted/2534551796ee0a2638b462ce82e33b65091b1d42_1600x1200.jpg?w=1200"); /* images/elonmusk04.jpg */
			background-size: auto;
			/*background-position: top-left;*/
			background-repeat: no-repeat;
			max-width: 800px;
			width: 100%;
			height: 800px;
			margin-right: auto;
			margin-left: auto;
			/*border: 5px solid white;*/
			/*height: 90vh;*/

		}

			.buttons {
			    width:450px;
			    margin:auto;
			    display:block;
        
			    .button {
			      height:38px;
			      border:none;
			      border-radius:3px;
			      color:#fff;
			      background-color:#333;
			      outline:none;
			      font-size:0.85em;
			      padding: 8px 18px 6px 18px;
			      margin-top:30px;
			      opacity:1;
			      cursor:pointer;
			      &:hover {
			        opacity:0.9;
			      }
			      &#tweet-quote, &#tumblr-quote {
			        float:left;
			        padding:0px;
			        padding-top:8px;
			        text-align:center;
			        font-size:1.2em;
			        margin-right:5px;
			        height:30px;
			        width:40px;
			      }
			      &#new-quote {
			        float:right;
			      }
    			}
 			} 

		.quoteBox {
			

			background-color: rgba(1, 1, 1, .6);
			/*background: -moz-linear-gradient(down, rgba(1, 1, 1, .9), rgba(1, 1, 1, .1));*/
			padding: 15px 15px 15px 0px;
			/*margin-top: 10px;*/
			/*width: 100%;*/

			margin-right: auto;
			margin-left: auto;
			
			/*height: 90vh;*/
			

		}

		.quoteDisplay {

			text-align: right;
			color: white;
			width: 85%;
			margin-right: auto;
			margin-left: auto;
			margin-top: 50px;
			/*padding-bottom: 30px;*/
			font-size: 1.8em;
			overflow: auto;

		}

		.cite {
			color: white;
			text-align: right;
			padding-bottom: 30px;
			padding-right: 10px;
			font-size: 1.8em;
		}

		.links {
			float: left;
			margin-left: 15px;


		}